<div class='row'>
  <h3><%= ad.requested_knowledge%></h3>

  <label>Conhecimento:</label> <%= ad.offered_knowledge%><br>
  <%=ad.meeting_type%><br>
  <%=ad.day_period%><br>
  <%=ad.location%><br>
  <%=ad.avaliability%><br>
</div>
