<div class='row'>
  <h1><%= @ad.requested_knowledge%></h1>

  <li><label>Conhecimento:</label> <%= @ad.offered_knowledge%></li>
  <br>
  <li><%=@ad.meeting_type%></li><br>
  <li><%=@ad.day_period%></li><br>
  <li><%=@ad.location%></li><br>
  <li><%=@ad.avaliability%></li><br>
</div>
