<div class='row'>
  <% if @profile.photo.file? %>
    <%= image_tag @profile.photo.url(:medium) %>
  <% else %>
    <%= image_tag 'blank_profile_photo.jpg' %>
  <% end %>
  <h3><%= @profile.name %></h3>
  <dl class="dl-horizontal">
    <dt>Data de Nascimento:</dt><dd><%= I18n.l(@profile.birth_date) %></dd>
    <dt>Cidade:</dt><dd><%= @profile.city %></dd>
    <dt>Estado:</dt><dd><%= @profile.state %></dd>
  </dl>
  <label>Conhecimentos:</label>
  <p><%= @profile.skills %></p>
  <%= link_to 'Editar meu perfil', edit_profile_path, class: 'btn btn-default' %>
  <%= link_to 'Ver Anúncios', profile_ads_path(@profile), class: 'btn btn-default' %>

  <h4>Avaliações</h4>
  <% @profile.profile_reviews.each do |review| %>
    <dl class="dl-horizontal">
      <dt>Nota:</dt><dd><%= review.rating %></dd>
      <dt>Comentários:</dt><dd><p><%= review.comment %></p></dd>
    </dl>
  <% end %>
</div>
