<div class="navbar-header">
  <a class="navbar-brand" href="/">Troca Conhecimento</a>
</div>

<div class="collapse navbar-collapse">
  <%= form_tag(filter_ads_path, {method: "get", class: "navbar-form navbar-left" }) do %>
    <%= label_tag(:filter, "Busca") %>
    <%= text_field_tag(:filter, nil,class: 'form-control') %>
    <%= submit_tag("Buscar" ,{class: "btn btn-success"}) %>
  <% end %>

  <div class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <% if current_profile %>
      <% if current_profile.photo.file? %>
        <%= image_tag current_profile.photo.url(:thumb), class:'img-circle', size:'25x25' %>
      <%else%>
        <%= image_tag 'blank_profile_photo.jpg', class:'img-circle', size:'25x25' %>
      <%end%>
      <%= link_to current_profile.name, profile_path(current_profile), class: 'navbar-link' %>
      <%= link_to 'Minhas propostas', my_send_proposals_path, class: 'btn btn-success navbar-btn' %>
      <%= link_to 'Propostas recebidas', my_proposals_path, class: 'btn btn-success navbar-btn' %>
    <% end %>
    <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'btn btn-danger navbar-btn' %>
  <% else %>
    <%= link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-success navbar-btn' %>
    <%= link_to "Log in", new_user_session_path, class: 'btn btn-success navbar-btn'%>
  <% end %>
  </div>

</div>
