<h2> Minhas propostas</h2>

<div id="proposal-approved" >
  <h3> Aprovadas </h3>
  <% @proposals_approved.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>

<div id="proposal-pending" >
  <h3> Pendentes </h3>
  <% @proposals_pending.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>

<div id="proposal-rejected" >
  <h3> Rejeitadas </h3>
  <% @proposals_rejected.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>

<%= link_to 'Voltar', root_path, class: 'btn btn-default' %>
