<h1> Minhas propostas recebidas </h1>

<div id="proposal-approved" >
  <% @proposals_approved.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>

<div id="proposal-pending" >
  <% @proposals_pending.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>


<div id="proposal-rejected" >
  <% @proposals_rejected.each do |proposal| %>
  <div id="proposal-<%= proposal.id %>" >
    <%= render proposal%>
  </div>
  <%end%>
</div>

<%= link_to 'Voltar', root_path %>
