<%= form_for @review do |f| %>
  <div class="form-group">
    <%= f.label :rating, 'Nota' %>
    <%= f.select(:rating) do %>
      <% (0..5).each do |number| %>
        <%= content_tag(:option, number, value: number) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :comment, 'Comentario' %>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>

  <%= f.submit 'Enviar' %>
<% end %>
