<!DOCTYPE html>
<html>
  <head>
    <title>Troca Conhecimento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class='row text-center'>
      <%= image_tag 'troca_conhecimento.png', class: 'logo_img' %>
      <h1 class='title-welcome'>Troca de Conhecimento</h1>
      <h4 class='subtitle-welcome'>Aprender é viver</h4>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <%= render 'shared/navbar' %>
      </div>
    </nav>

    <main>
      <div class='container main'>
        <%= render 'shared/alerts'%>
        <%= yield %>
      </div>
    </main>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="copyright"> © 2017 - CampusCode </div>
          </div> <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="design"> Imersão Web - Turma de Férias Julho. </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
